.header {
    /* display: flex;
    width: 100vw;
    justify-content: center;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: start;  */
}

.title {
}

.search {
    margin-left: 20px;
    /* justify-self: center;  */
    /* align-self: center; */
}