.primary_color{
    color: #3626A7 !important;
}

.secundary_color{
    color: #657ED4 !important;
}

.body{
    color: #0D0106 !important;
}

.warning{
    color: #FF331F !important;
}

.background{
    color: #FBFBFF !important;
}